body {
    background-color: rgb(248, 245, 241);
}

.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main {
    font-size: 60px;
    font-weight: bold;
}

#sub {
    font-size: 30px;
}

.butter-chicken {
    height: auto;
    width: 400px;
}

.List{
    display: flex;
    background: aquamarine;
    border: 4px saddlebrown;
    height: 220px;
    margin-top: 10px;
    flex: 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
